<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Bible, Linyun Liu"/>
    <meta name="theme-color" content="#222222">
    <link rel="shortcut icon" href="favicon.png"/>
    <link rel="stylesheet" type="text/css" href="css/info/privacy.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Privacy Policy</title>
</head>
<body>
<main>
    <br><br>
    <p class="title">Privacy Policy</p>
    <br><br><br><br>
    <div class="content">
        <p class="text">
            At Faith Universe, your privacy is important. This privacy policy explains how
            your personal information is collected, used when you interact with our website.
        </p>
        <br>
        <p class="subtitle">Data Collection & How it is Used</p>
        <p class="text">
            Faith Universe collect personal information, such as your email address, when you create an account. Your email 
            will only be used to send important notifications, such as updates or maintenance that may affect your 
            access to the website. Your username is unique to you, and the Bible verses you save along with any 
            notes you take will remain private and visible only to you. None of your information will be shared besides
            staying on the server.
        </p>
        <br>
        <p class="subtitle">Cookies</p>
        <p class="text">
            Cookies are used to enhance your experience on Faith Universe by enabling essential features such as session
            and authorization. These cookies allow the website to keep you logged in securely and ensure that you have 
            the appropriate access to features based on your account. Cookies are only used for functional purposes related 
            to your account and are not used for tracking or advertising.
        </p>
        <br>
        <p class="subtitle">Security Measures</p>
        <p class="text">
            To protect your account, industry-standard password hashing techniques are used, ensuring that your password 
            is securely encrypted and cannot be accessed by anyone. This added layer of security helps to 
            safeguard your data from unauthorized access or breaches.
        </p>
        <br>
        <p class="subtitle">Question?</p>
        <p class="text">
            If you have any more question, please email <a class="email" style="color: cornflowerblue" href="mailto:linyun.liu@mytwu.ca">linyun.liu@mytwu.ca</a>
        </p>
    </div>
</main>
</body>
</html>